*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(253, 249, 243);
}
nav{
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
    background-color: beige;
}
h1{
    padding: 20px;
}
p, li, a{
    font-family: "Agdasima", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
h1, h2 {
    font-family: "Agdasima", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  h2{
    padding: 20px;
  }
  .bio{
    padding: 0px 20px;
    font-size: 14px;
  }
  .bio-bg{
    background-color: rgb(164, 205, 241);
    border-radius: 20px;
    padding: 10px;
    width: 50%;
  }
  .hobbies-bg{
    background-color: rgb(149, 243, 170);
  }
  ul{
    list-style-type: none;
  }
  .contacts-bg{
    background-color: rgb(216, 190, 240);
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
  }
 img{
width: 240px;
border-radius: 20px;

 }
 .image-bg{
    display: flex;
    background-color: rgb(243, 142, 192);
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
 }